body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-layout-background{
  background: #fff;
  padding: 24px;
  min-height: 480px;
}

.header{
  position: 'fixed';
  z-index: 1;
  width: '100%'
}

.site-layout{
  padding: 2px 65px 12px;
  margin-top: 15px;
}

.footer {
   text-align: center
}